
.fleft { float: left; }
.fright { float: right; }
.clear { clear: both; }

.hidden-text { overflow: hidden; text-indent: 100%; white-space: nowrap; }

.overflow { overflow: hidden; }


.column-full { width: 940px; }
.column-eleven-twelfths { width: 860px; }
.column-ten-twelfths { width: 780px; }
.column-three-quarters { width: 700px; }
.column-two-thirds { width: 620px; }
.column-seven-twelfths { width: 540px; }
.column-half { width: 460px; margin-right: 20px; }
.column-five-twelfths { width: 380px; }
.column-two-fifths { width: 364px; }
.column-third { width: 300px; margin-right: 20px; }
.column-quarter { width: 220px; margin-right: 20px; }
.column-fifth { width: 172px; margin-right: 20px; }
.column-sixth { width: 140px; margin-right: 20px; }
.column-one-twelfths { width: 60px; margin-right: 20px; }

.space-left { margin-left: 20px; }
.space-right { margin-right: 20px; }
.space-right-small {margin-right: 10px;}


    .column-half:nth-child(2n),
    .column-third:nth-child(3n),
    .column-quarter:nth-child(4n),
    .column-fifth:nth-child(5n),
    .column-sixth:nth-child(6n),
    .column-one-twelfths:nth-child(12n),
    .no-right { margin-right: 0; }

    .column-half.fright,
    .column-third.fright,
    .column-quarter.fright,
    .column-fifth.fright,
    .column-sixth.fright,
    .column-one-twelfths.fright {
        margin-right: 0;
    }

.column-half .column-sixth:nth-child(3n),
.column-third .column-sixth:nth-child(2n) { margin-right: 0; }


.content { margin: 0 auto; }


.space-bottom-small {margin-bottom:10px}
.space-bottom { margin-bottom: 20px; }
.space-bottom-big { margin-bottom: 40px; }

@media only screen and (max-width: 960px){
    .column-full { width: auto; padding: 0 20px; }
    .column-full .column-full { padding: 0; }

    .column-half { width: 50%; margin-right: 0; }
    .column-third { width: 30%; }
    .column-quarter { width: 21%; }
    .column-sixth { width: 12.5%; }

    .column-two-thirds { width: auto; }

    .column-third .column-sixth { width: 50%; }

    .column-one-twelfths { width: 12.5% }
    .column-full .column-one-twelfths:nth-child(6n) { margin-right: 0; }

    .space-right { margin-right: 5%; }
    .space-left { margin-left: 5%; }
    img { max-width: 100% !important; height: auto !important; }
}
@media only screen and (max-width: 740px){
    .column-three-quarters { width: 100%; float: none; }
    .space-bottom { margin-bottom: 10px; }
    .space-bottom-big { margin-bottom: 25px; }
}
@media only screen and (max-width: 660px){
    .column-two-thirds { width: 100%; float: none; }
    .column-third { width: auto; float: none; margin-left: auto; margin-right: auto; clear: both; }
    .column-quarter { width: 50%; margin-right: 0; }
    .column-sixth { width: 33.33%; margin-right: 0; }

    .column-one-twelfths { width: 30% }
    .column-full .column-one-twelfths:nth-child(3n) { margin-right: 0; }
}
@media only screen and (max-width: 480px){
    .column-full { padding: 0 3%; }
}
@media only screen and (max-width: 320px){
    .column-half { width: auto; float: none; }
}
