.fleft { float: left; }
.fright { float: right; }
.clear { clear: both; }

.hidden-text { overflow: hidden; text-indent: 100%; white-space: nowrap; }

.overflow { overflow: hidden; }


.column-full { width: 1170px; }
.column-three-quarters { width: 870px; }

.column-half { width: 570px; margin-right: 30px; }

.column-quarter { width: 270px; margin-right: 30px; }

.column-one-sixteenths { width: 45px; margin-right: 30px; }


.space-left-big { margin-right: 60px; }
.space-right-big { margin-right: 60px; }
.space-left { margin-left: 30px; }
.space-right { margin-right: 30px; }
.space-left-small { margin-right: 15px; }
.space-right-small { margin-right: 15px; }



    .column-half:nth-child(2n),
    .column-quarter:nth-child(4n),
    .column-one-sixteenths:nth-child(16n),
    .no-right { margin-right: 0; }

    .column-half.fright(2n),
    .column-quarter.fright(4n),
    .column-one-sixteenths.fright(16n) {
        margin-right: 0;
    }

.column-half .column-sixth:nth-child(3n),
.column-third .column-sixth:nth-child(2n) { margin-right: 0; }



.content { margin: 0 auto; padding: 0 15px; }


.space-bottom-small { margin-bottom:10px !important; }
.space-bottom { margin-bottom: 30px !important; }
.space-bottom-big { margin-bottom: 40px !important; }

@media only screen and (max-width: 1170px) {
    [class*="column-"] { margin-right: 0; }
    .column-full { width: auto; padding: 0 15px; margin-right: 0; }
    img { max-width: 100% !important; height: auto !important; }
}
@media only screen and (max-width: 740px) {

    .space-bottom { margin-bottom: 10px; }
    .space-bottom-big { margin-bottom: 25px; }
}
@media only screen and (max-width: 660px) {
    .column-quarter { width: 50%; margin-right: 0; }
}
@media only screen and (max-width: 480px) {
    .column-half { width: auto; float: none; }
    .column-full { padding: 0 3%; }
}
@media only screen and (max-width: 320px) {

}